In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/120-years-of-olympic-history-athletes-and-results/noc_regions.csv
/kaggle/input/120-years-of-olympic-history-athletes-and-results/athlete_events.csv

In [2]:
region_df= pd.read_csv('/kaggle/input/120-years-of-olympic-history-athletes-and-results/noc_regions.csv')
df = pd.read_csv('/kaggle/input/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')

In [3]:
df.sample(6)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
124121,62691,Nora Edith Kppel,F,32.0,175.0,67.5,Argentina,ARG,2004 Summer,2004,Summer,Athina,Weightlifting,Weightlifting Women's Heavyweight,NaN
118361,59876,Kim Gi-Hun,M,24.0,172.0,63.0,South Korea,KOR,1992 Winter,1992,Winter,Albertville,Short Track Speed Skating,"Short Track Speed Skating Men's 5,000 metres R...",Gold
215660,108271,Ginette Seguin,F,21.0,NaN,NaN,Canada,CAN,1956 Winter,1956,Winter,Cortina d'Ampezzo,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
5282,2989,"Gustav Adolf ""Gsta"" Almgren",M,29.0,NaN,NaN,Sweden,SWE,1936 Summer,1936,Summer,Berlin,Fencing,"Fencing Men's epee, Team",Silver
57438,29429,Landon Timothy Donovan,M,18.0,172.0,68.0,United States,USA,2000 Summer,2000,Summer,Sydney,Football,Football Men's Football,NaN
68485,34964,Roberto Ferraris,M,20.0,184.0,68.0,Italy,ITA,1972 Summer,1972,Summer,Munich,Shooting,"Shooting Mixed Rapid-Fire Pistol, 25 metres",NaN

In [4]:
df[df.duplicated()]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1252,704,Dsir Antoine Acket,M,27.0,NaN,NaN,Belgium,BEL,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
4282,2449,William Truman Aldrich,M,48.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Painting, Drawings And ...",NaN
4283,2449,William Truman Aldrich,M,48.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Painting, Drawings And ...",NaN
4862,2777,Hermann Reinhard Alker,M,43.0,NaN,NaN,Germany,GER,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Architecture, Designs F...",NaN
4864,2777,Hermann Reinhard Alker,M,43.0,NaN,NaN,Germany,GER,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Architecture, Architect...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269994,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Paintings",NaN
269995,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Paintings",NaN
269997,135072,Anna Katrina Zinkeisen (-Heseltine),F,46.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
269999,135073,Doris Clare Zinkeisen (-Johnstone),F,49.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
270200,135173,Henri Achille Zo,M,58.0,NaN,NaN,France,FRA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN

# top 5 gold medalits

In [5]:
temp_df= df[df['Medal']=='Gold']
groups= temp_df.groupby(['Name'])
groups['Medal'].count().sort_values(ascending=False)

Name
Michael Fred Phelps, II               23
Raymond Clarence "Ray" Ewry           10
Paavo Johannes Nurmi                   9
Larysa Semenivna Latynina (Diriy-)     9
Mark Andrew Spitz                      9
                                      ..
Hermann "Hannes" Hansen                1
Hermann Alexandre de Pourtals          1
Hermann Gehri                          1
Hermann Joseph Barrelet                1
ystein Pettersen                       1
Name: Medal, Length: 10413, dtype: int64

# top 5 countries with most gold

In [6]:
temp=df[df['Medal']=='Gold'].groupby('NOC')
temp['Medal'].count().sort_values(ascending=False)

NOC
USA    2638
URS    1082
GER     745
GBR     678
ITA     575
       ...
PAN       1
PER       1
SGP       1
PUR       1
JOR       1
Name: Medal, Length: 109, dtype: int64

In [7]:
df['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [8]:
groups=df.groupby(['Sport','Event'])
groups['Medal'].count().sort_values(ascending=False)

Sport             Event
Football          Football Men's Football                              1269
Ice Hockey        Ice Hockey Men's Ice Hockey                          1230
Hockey            Hockey Men's Hockey                                  1050
Water Polo        Water Polo Men's Water Polo                           866
Rowing            Rowing Men's Coxed Eights                             730
                                                                       ...
Art Competitions  Art Competitions Mixed Literature, Unknown Event        0
                  Art Competitions Mixed Painting, Unknown Event          0
                  Art Competitions Mixed Sculpturing, Unknown Event       0
                  Art Competitions Mixed Unknown Event                    0
                  Art Competitions Mixed Music, Unknown Event             0
Name: Medal, Length: 765, dtype: int64

In [9]:
groups=df.groupby(['Sport','Event','NOC','Year','Medal'])
events_df=groups['Name'].count().reset_index()
events_df

,Sport,Event,NOC,Year,Medal,Name
0,Aeronautics,Aeronautics Mixed Aeronautics,SUI,1936,Gold,1
1,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1988,Gold,1
2,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1988,Silver,1
3,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1998,Bronze,1
4,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1998,Gold,1
...,...,...,...,...,...,...
18900,Wrestling,"Wrestling Women's Middleweight, Freestyle",POL,2016,Bronze,1
18901,Wrestling,"Wrestling Women's Middleweight, Freestyle",RUS,2008,Silver,1
18902,Wrestling,"Wrestling Women's Middleweight, Freestyle",RUS,2012,Bronze,1
18903,Wrestling,"Wrestling Women's Middleweight, Freestyle",USA,2004,Silver,1
18904,Wrestling,"Wrestling Women's Middleweight, Freestyle",USA,2008,Bronze,1

In [10]:
events_df.drop_duplicates(['Event','Medal'])

,Sport,Event,NOC,Year,Medal,Name
0,Aeronautics,Aeronautics Mixed Aeronautics,SUI,1936,Gold,1
1,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1988,Gold,1
2,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1988,Silver,1
3,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1998,Bronze,1
31,Alpine Skiing,Alpine Skiing Men's Downhill,AUT,1948,Silver,1
...,...,...,...,...,...,...
18876,Wrestling,"Wrestling Women's Lightweight, Freestyle",CAN,2004,Silver,1
18884,Wrestling,"Wrestling Women's Lightweight, Freestyle",JPN,2004,Gold,1
18890,Wrestling,"Wrestling Women's Middleweight, Freestyle",BLR,2016,Silver,1
18892,Wrestling,"Wrestling Women's Middleweight, Freestyle",FRA,2004,Bronze,1
18893,Wrestling,"Wrestling Women's Middleweight, Freestyle",JPN,2004,Gold,1

In [11]:
temp=events_df[events_df['Medal']==1].groupby('NOC')
temp['Medal'].count().sort_values(ascending=False)

Series([], Name: Medal, dtype: int64)

In [12]:
groups= df.groupby(['Sport','Event','NOC','Year','Medal','Team'])
events_DF= groups['Season'].count().reset_index()
events_DF

,Sport,Event,NOC,Year,Medal,Team,Season
0,Aeronautics,Aeronautics Mixed Aeronautics,SUI,1936,Gold,Switzerland,1
1,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1988,Gold,Austria,1
2,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1988,Silver,Austria,1
3,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1998,Bronze,Austria,1
4,Alpine Skiing,Alpine Skiing Men's Combined,AUT,1998,Gold,Austria,1
...,...,...,...,...,...,...,...
18922,Wrestling,"Wrestling Women's Middleweight, Freestyle",POL,2016,Bronze,Poland,1
18923,Wrestling,"Wrestling Women's Middleweight, Freestyle",RUS,2008,Silver,Russia,1
18924,Wrestling,"Wrestling Women's Middleweight, Freestyle",RUS,2012,Bronze,Russia,1
18925,Wrestling,"Wrestling Women's Middleweight, Freestyle",USA,2004,Silver,United States,1
18926,Wrestling,"Wrestling Women's Middleweight, Freestyle",USA,2008,Bronze,United States,1

In [13]:
tempo_df=events_DF.drop_duplicates(['Medal','Event'])

In [14]:
tempo_df[tempo_df['Team']=='India']

,Sport,Event,NOC,Year,Medal,Team,Season
1259,Athletics,Athletics Men's 200 metres Hurdles,IND,1900,Silver,India,1

In [15]:
#--------------------------------------------

In [16]:
df=df[df['Season']=='Summer']

In [17]:
df.shape

(222552, 15)

In [18]:
region_df.sample()

     NOC        region notes
180  SLE  Sierra Leone   NaN

In [19]:
df=df.merge(region_df, how='left',on='NOC')
#joining/ merging region_df with df on NOC column
# how - Type of merge to be performed.
# region tells us the country

# countries that have particiated in olympics

In [20]:
df['region'].unique()

array(['China', 'Denmark', 'Netherlands', 'Finland', 'Norway', 'Romania',
       'Estonia', 'France', 'Morocco', 'Spain', 'Egypt', 'Iran',
       'Bulgaria', 'Italy', 'Chad', 'Azerbaijan', 'Sudan', 'Russia',
       'Argentina', 'Cuba', 'Belarus', 'Greece', 'Cameroon', 'Turkey',
       'Chile', 'Mexico', 'USA', 'Nicaragua', 'Hungary', 'Nigeria',
       'Algeria', 'Kuwait', 'Bahrain', 'Pakistan', 'Iraq', 'Syria',
       'Lebanon', 'Qatar', 'Malaysia', 'Germany', 'Canada', 'Ireland',
       'Australia', 'South Africa', 'Eritrea', 'Tanzania', 'Jordan',
       'Tunisia', 'Libya', 'Belgium', 'Djibouti', 'Palestine', 'Comoros',
       'Kazakhstan', 'Brunei', 'India', 'Saudi Arabia', 'Maldives',
       'Ethiopia', 'United Arab Emirates', 'Yemen', 'Indonesia',
       'Philippines', nan, 'Uzbekistan', 'Kyrgyzstan', 'Tajikistan',
       'Japan', 'Republic of Congo', 'Switzerland', 'Brazil', 'Monaco',
       'Israel', 'Uruguay', 'Sweden', 'Sri Lanka', 'Armenia',
       'Ivory Coast', 'Kenya', 'Benin', 'UK', 'Ghana', 'Somalia', 'Niger',
       'Mali', 'Afghanistan', 'Poland', 'Costa Rica', 'Panama', 'Georgia',
       'Slovenia', 'Guyana', 'New Zealand', 'Portugal', 'Paraguay',
       'Angola', 'Venezuela', 'Colombia', 'Bangladesh', 'Peru',
       'El Salvador', 'Puerto Rico', 'Uganda', 'Honduras', 'Ecuador',
       'Turkmenistan', 'Mauritius', 'Seychelles', 'Czech Republic',
       'Luxembourg', 'Mauritania', 'Saint Kitts', 'Trinidad',
       'Dominican Republic', 'Saint Vincent', 'Jamaica', 'Liberia',
       'Suriname', 'Nepal', 'Mongolia', 'Austria', 'Palau', 'Lithuania',
       'Togo', 'Namibia', 'Curacao', 'Ukraine', 'Iceland',
       'American Samoa', 'Samoa', 'Rwanda', 'Croatia', 'Dominica',
       'Haiti', 'Malta', 'Cyprus', 'Guinea', 'Belize', 'Thailand',
       'Bermuda', 'Serbia', 'Sierra Leone', 'Papua New Guinea',
       'Individual Olympic Athletes', 'Oman', 'Fiji', 'Vanuatu',
       'Moldova', 'Bahamas', 'Guatemala', 'Latvia',
       'Virgin Islands, British', 'Mozambique', 'Virgin Islands, US',
       'Central African Republic', 'Madagascar', 'Bosnia and Herzegovina',
       'Guam', 'Cayman Islands', 'Slovakia', 'Barbados', 'Guinea-Bissau',
       'Timor-Leste', 'Democratic Republic of the Congo', 'Gabon',
       'San Marino', 'Laos', 'Botswana', 'South Korea', 'Cambodia',
       'North Korea', 'Solomon Islands', 'Senegal', 'Cape Verde',
       'Equatorial Guinea', 'Boliva', 'Antigua', 'Andorra', 'Zimbabwe',
       'Grenada', 'Saint Lucia', 'Micronesia', 'Myanmar', 'Malawi',
       'Zambia', 'Taiwan', 'Sao Tome and Principe', 'Macedonia',
       'Liechtenstein', 'Montenegro', 'Gambia', 'Cook Islands', 'Albania',
       'Swaziland', 'Burkina Faso', 'Burundi', 'Aruba', 'Nauru',
       'Vietnam', 'Bhutan', 'Marshall Islands', 'Kiribati', 'Tonga',
       'Kosovo', 'South Sudan', 'Lesotho'], dtype=object)

In [21]:
df['region'].unique().shape

(206,)

In [22]:
# null values in df 
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
region       370
notes     218151
dtype: int64

In [23]:
df.duplicated().sum()

1385

In [24]:
df.drop_duplicates(inplace=True)
#inplace means it will change the original data frame i.e it will remove the duplicated value in original df

In [25]:
df.duplicated().sum()

0

In [26]:
df['Medal'].value_counts()

Gold      11456
Bronze    11409
Silver    11212
Name: Medal, dtype: int64

In [27]:
pd.get_dummies(df['Medal'])
#Convert categorical variable into dummy/indicator variables.
#paramenter: data - series o df of which we want to get dummy indicator

        Bronze  Gold  Silver
0            0     0       0
1            0     0       0
2            0     0       0
3            0     1       0
4            0     0       0
...        ...   ...     ...
222547       0     0       0
222548       0     0       0
222549       0     0       0
222550       0     0       0
222551       0     0       0

[221167 rows x 3 columns]

In [28]:
temp_df=pd.get_dummies(df['Medal'])

In [29]:
temp_df.shape

(221167, 3)

# concat df and temp_df

In [30]:
pd.concat([df,temp_df],axis=1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,0,1,0
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN,0,0,0
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN,0,0,0
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN,0,0,0

In [31]:
df=pd.concat([df,temp_df],axis=1)

In [32]:
df.groupby('NOC')
groups=df.groupby('NOC')

In [33]:
groups.sum()

            ID      Age    Height    Weight     Year  Bronze   Gold  Silver
NOC
AFG    8918075   1836.0    9212.0    4020.0   247720     2.0    0.0     0.0
AHO    4345762   1916.0    8862.0    3803.0   146544     0.0    0.0     1.0
ALB    4583008   1631.0    8635.0    3879.0   126092     0.0    0.0     0.0
ALG   26774400  13035.0   84571.0   33338.0  1076852     8.0    5.0     4.0
AND    3328267   1448.0    8131.0    3210.0   105912     0.0    0.0     0.0
..         ...      ...       ...       ...      ...     ...    ...     ...
YEM     932821    675.0    4199.0    1492.0    64092     0.0    0.0     0.0
YMD     345630    118.0     350.0     190.0     9940     0.0    0.0     0.0
YUG  146095387  48245.0  243501.0  102379.0  4005080    92.0  130.0   161.0
ZAM   12125915   3613.0   22122.0    9179.0   363520     1.0    0.0     1.0
ZIM   20440062   7747.0   49565.0   19536.0   614824     1.0   17.0     4.0

[230 rows x 8 columns]

In [34]:
groups.sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()
# reset_index is used to change series to data_frame
#groups.sum() counts the meadals of each team. According to our table USA has wond 2472 gold, but there are some mistakes
# since in team events like hockey all the 15 players win medals so gold is counted 15 times 
# to avoid this we can delete duplicate rows which have same colums

     NOC    Gold  Silver  Bronze
0    USA  2472.0  1333.0  1197.0
1    URS   832.0   635.0   596.0
2    GBR   635.0   729.0   620.0
3    GER   592.0   538.0   649.0
4    ITA   518.0   474.0   454.0
..   ...     ...     ...     ...
225  AHO     0.0     1.0     0.0
226  LBR     0.0     0.0     0.0
227  LCA     0.0     0.0     0.0
228  LES     0.0     0.0     0.0
229  LBA     0.0     0.0     0.0

[230 rows x 4 columns]

In [35]:
df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Medal','Event'])
# dropping duplicate values whose teams , noc , games , year  , city , sport , medal , events are same

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,0,1,0
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222528,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver,Russia,NaN,0,0,1
222530,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze,Russia,NaN,1,0,0
222536,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN,Poland,NaN,0,0,0
222537,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN,Poland,NaN,0,0,0
222541,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN,Greece,NaN,0,0,0

In [36]:
df=df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Medal','Event'])

In [37]:
medal_tally=df.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [38]:
medal_tally=medal_tally.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()
medal_tally

     NOC    Gold  Silver  Bronze
0    USA  1035.0   802.0   708.0
1    URS   394.0   317.0   294.0
2    GBR   278.0   317.0   300.0
3    GER   235.0   261.0   283.0
4    FRA   234.0   256.0   287.0
..   ...     ...     ...     ...
225  AHO     0.0     1.0     0.0
226  LBR     0.0     0.0     0.0
227  LCA     0.0     0.0     0.0
228  LES     0.0     0.0     0.0
229  LBA     0.0     0.0     0.0

[230 rows x 4 columns]

In [39]:
medal_tally[medal_tally['NOC']=='PAK']

    NOC  Gold  Silver  Bronze
67  PAK   3.0     3.0     4.0

In [40]:
medal_tally['total']=medal_tally['Gold']+medal_tally['Silver']+medal_tally['Bronze']

In [41]:
medal_tally.head(5)

   NOC    Gold  Silver  Bronze   total
0  USA  1035.0   802.0   708.0  2545.0
1  URS   394.0   317.0   294.0  1005.0
2  GBR   278.0   317.0   300.0   895.0
3  GER   235.0   261.0   283.0   779.0
4  FRA   234.0   256.0   287.0   777.0

In [42]:
df.sample(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
31685,19465,Vittoria Cesarini,F,19.0,NaN,NaN,Italy,ITA,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's 100 metres,NaN,Italy,NaN,0,0,0
139792,85286,Aleksey Yuryevich Nemov,M,20.0,174.0,75.0,Russia,RUS,1996 Summer,1996,Summer,Atlanta,Gymnastics,Gymnastics Men's Individual All-Around,Silver,Russia,NaN,0,0,1

In [43]:
years=df['Year'].unique().tolist()

In [44]:
years.sort()
years

[1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

In [45]:
years.insert(0,'Overall')

In [46]:
country=df['region'].unique().tolist()
#country.sort()
# we cannot sort this as we have a data in country as NAN which is of type float so this won't work out

In [47]:
df['region'].dropna()  # drop NAN values 

country=np.unique(df['region'].dropna().values).tolist()
country.sort()
country

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [48]:
country.insert(0,'Overall')

In [49]:
medal_df=df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Medal','Event'])

medal_df.sample(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
151670,92603,Anders stre Pedersen,M,25.0,189.0,98.0,Norway,NOR,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Men's One Person Heavyweight Dinghy,NaN,Norway,NaN,0,0,0
26215,16199,Tonja Yvette Buford-Bailey,F,21.0,176.0,62.0,United States,USA,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Women's 400 metres Hurdles,NaN,USA,NaN,0,0,0

In [50]:
medal_df[medal_df['region']=='India']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
436,281,S. Abdul Hamid,M,NaN,NaN,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's 110 metres Hurdles,NaN,India,NaN,0,0,0
437,281,S. Abdul Hamid,M,NaN,NaN,NaN,India,IND,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's 400 metres Hurdles,NaN,India,NaN,0,0,0
790,512,Shiny Kurisingal Abraham-Wilson,F,19.0,167.0,53.0,India,IND,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Women's 800 metres,NaN,India,NaN,0,0,0
791,512,Shiny Kurisingal Abraham-Wilson,F,19.0,167.0,53.0,India,IND,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Women's 4 x 400 metres Relay,NaN,India,NaN,0,0,0
792,512,Shiny Kurisingal Abraham-Wilson,F,23.0,167.0,53.0,India,IND,1988 Summer,1988,Summer,Seoul,Athletics,Athletics Women's 800 metres,NaN,India,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216942,132143,Vikas Krishan Yadav,M,24.0,177.0,69.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Middleweight,NaN,India,NaN,0,0,0
216985,132177,Mohammad Anas Yahiya,M,21.0,177.0,69.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 400 metres,NaN,India,NaN,0,0,0
218411,133029,"Thyadathuvilla Chandrapillai ""T. C."" Yohannan",M,29.0,174.0,62.0,India,IND,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Men's Long Jump,NaN,India,NaN,0,0,0
222416,135480,Geeta Zutshi,F,23.0,167.0,51.0,India,IND,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Women's 800 metres,NaN,India,NaN,0,0,0
222417,135480,Geeta Zutshi,F,27.0,167.0,51.0,India,IND,1984 Summer,1984,Summer,Los Angeles,Athletics,"Athletics Women's 3,000 metres",NaN,India,NaN,0,0,0

In [51]:
def fetch_medal_tally(df,year, country):
    medal_df=df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Medal','Event'])
    flag=0
    if year=='Overall' and country=='Overall':
        temp_df=medal_df
    if year=='Overall' and country!='Overall':
        flag=1
        temp_df=medal_df[medal_df['region']==country]
    if year!='Overall' and country=='Overall':
        temp_df=medal_df[medal_df['Year'] ==int(year)]
    if year!='Overall' and country!='Overall':
        temp_df=medal_df[(medal_df['Year']==int(year)) & (medal_df['region']==country)]
        
    if flag==1:
        x=temp_df.groupby('Year').sum()[['Gold','Silver','Bronze']].sort_values('Year',ascending=True).reset_index()
    else:
        x=temp_df.groupby('region').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()
    

    x['total']=x['Gold']+x['Silver']+x['Bronze']
    print(x)

In [52]:
fetch_medal_tally(year='Overall', country='India')

TypeError: fetch_medal_tally() missing 1 required positional argument: 'df'

In [ ]:
fetch_medal_tally(year='Overall' , country='Overall')

In [ ]:
medal_tally.sample(2)

In [ ]:
df.head(2)

# find out how many  medals india has won in each season

In [ ]:
medal_df.sample(1)

In [ ]:
new=medal_df.groupby(['Year','region'])

In [ ]:
new_df=new[['Gold','Silver','Bronze']].sum().reset_index()
new_df['Total']=new_df['Gold']+new_df['Silver']+new_df['Bronze']
new_df.sample(2)
maskA=new_df['region']=='USA'
maskB=new_df['Year']==2016
lol=new_df[maskA & maskB]['Bronze'].values[0]
lol

In [ ]:

my_years=medal_df[medal_df['region']=='India']['Year'].unique().tolist()
my_years.sort()
len(my_years)

In [ ]:
new_df[(new_df['region']=='India') & (new_df['Year']==2016)][['Gold','Silver','Bronze','Total']]

In [ ]:

for year in my_years:
    print('Year',year)
    print(new_df[(new_df['region']=='India') & (new_df['Year']==year)][['Gold','Silver','Bronze','Total']])

In [ ]:
new=medal_df.groupby(['Year','region'])
new_df=new[['Gold','Silver','Bronze']].sum().reset_index()
new_df['Total']=new_df['Gold']+new_df['Silver']+new_df['Bronze']
new_df.sample(2)
maskA=new_df['region']=='USA'
maskB=new_df['Year']==2016
new_df[maskA & maskB]['Bronze'].values[0]

my_years=medal_df[medal_df['region']=='India']['Year'].unique().tolist()
my_years.sort()
len(my_years)
new_df[(new_df['region']=='India') & (new_df['Year']==2016)][['Gold','Silver','Bronze','Total']]
for year in my_years:
    print('Year',year)
    print(new_df[(new_df['region']=='India') & (new_df['Year']==year)][['Gold','Silver','Bronze','Total']])

In [ ]:
new_df=medal_df.groupby(['Year','region'])[['Gold','Silver','Bronze']].sum().reset_index()

new_df['Total']=new_df['Gold']+new_df['Silver']+new_df['Bronze']

my_years=medal_df[medal_df['region']=='India']['Year'].unique().tolist()
my_years.sort()
for year in my_years:
    print('Year',year)
    print(new_df[(new_df['region']=='India') & (new_df['Year']==year)][['Gold','Silver','Bronze','Total']])

# overall analysis

In [ ]:
df.sample(2)

In [ ]:
df['Year'].sort_values().unique().shape[0]-1
# we subtracted 1 since olympics was held in 1906 which was discarded by IOC

In [ ]:
df['City'].unique()

In [ ]:
df['City'].sort_values().unique().shape[0]

In [ ]:
df['Event'].unique()

In [ ]:
df[df['Sport']=='Swimming']['Event'].unique().shape

In [ ]:
df['Name'].unique().shape[0]

In [ ]:
df.sample()

# sahi dataframe

In [ ]:
region_df= pd.read_csv('/kaggle/input/120-years-of-olympic-history-athletes-and-results/noc_regions.csv')
df = pd.read_csv('/kaggle/input/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')
df=df.merge(region_df, how='left',on='NOC')
df=df[df['Season']=='Summer']
df.drop_duplicates(inplace=True)
temp_df=pd.get_dummies(df['Medal'])
df=pd.concat([df,temp_df],axis=1)
df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Medal','Event'])

In [ ]:
df.shape

# overall analysis

In [ ]:
df['Year'].sort_values().unique().shape[0]-1

In [ ]:
df['City'].sort_values().unique().shape[0]

In [ ]:
df['Event'].sort_values().unique().shape[0]

In [ ]:
df['Event'].sort_values().unique().shape[0]

In [ ]:
df[df['Sport']=='Swimming']['Event'].unique().shape

# no:of country that participate in olympics each year

In [ ]:
df.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index().sort_values('index')

In [ ]:
nations_over_time=df.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index().sort_values('index')

In [ ]:
nations_over_time.rename(columns={'index':'Editions', 'Year':'Number of countries'},inplace = True)

In [ ]:
nations_over_time

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.lineplot(nations_over_time['Editions'],nations_over_time['Number of countries'])

In [ ]:
import plotly.express as px

In [ ]:
fig=px.line(nations_over_time,x="Editions", y="Number of countries")

fig.show()


# No:of events in each olympics

In [ ]:
df.sample(1)

In [ ]:
df.drop_duplicates(['Year','Event'])['Year']

In [ ]:
a=df.drop_duplicates(['Year','Event'])['Year']

In [ ]:
a_df=a.value_counts().reset_index()
a_df.sample(2)

In [ ]:
fig_a=px.line(a_df['index'],a_df['Year'])
fig.show()

In [ ]:
df.shape

In [ ]:
temp_df=df.drop_duplicates(['Year','Sport','Name'])

In [ ]:
temp_df.sample()

In [ ]:
temp_df[temp_df['Name']=='Michael Fred Phelps, II']

In [ ]:
temp_df.sample(5)

In [ ]:
temp_df=temp_df[['Year','Sex']].value_counts().reset_index().sort_values('Year')

In [ ]:
male_df=temp_df[temp_df['Sex']=='M']
male_df

In [ ]:
female_df=temp_df[temp_df['Sex']=='F']
male_df.sample(1)

In [ ]:
female_df=female_df.rename(columns={'o':'count'})
female_df.sample(1)

In [ ]:
female_df.rename(columns={0:'count'},inplace=True)
female_df.sample()

In [ ]:
female_df.rename(columns={0:'count'},inplace=True)
female_df.sample()
male_df.rename(columns={0:'count'},inplace=True)
male_df.sample()

In [ ]:
sns.lineplot(male_df['Year'],male_df['count'])
sns.lineplot(female_df['Year'],female_df['count'])

In [ ]:
sns.lineplot(male_df['Year'],male_df['count'])
sns.lineplot(female_df['Year'],female_df['count'])

In [ ]:
import plotly.express as px 
import pandas as pd 
import numpy as np 

# Get some data



# Plot 
fig = px.line(male_df, x='Year', y='count')

# Only thing I figured is - I could do this 
fig.add_scatter(x=female_df['Year'], y=female_df['count']) # Not what is desired - need a line 

# Show plot 
fig.show()

In [ ]:
region_df= pd.read_csv('/kaggle/input/120-years-of-olympic-history-athletes-and-results/noc_regions.csv')
df = pd.read_csv('/kaggle/input/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')
df=df.merge(region_df, how='left',on='NOC')
df=df[df['Season']=='Summer']
df.drop_duplicates(inplace=True)
temp_df=pd.get_dummies(df['Medal'])
df=pd.concat([df,temp_df],axis=1)
df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Medal','Event'])

In [ ]:

temp_df=df.drop_duplicates(['Year','Sport','Name'])
temp_df=temp_df[['Year','Sex']].value_counts().reset_index().sort_values('Year')
male_df=temp_df[temp_df['Sex']=='M']
female_df=temp_df[temp_df['Sex']=='F']
female_df.rename(columns={0:'count'},inplace=True)

male_df.rename(columns={0:'count'},inplace=True)

fig = px.line()

# Only thing I figured is - I could do this 
fig.add_scatter(x=female_df['Year'], y=female_df['count'],name="Female") # Not what is desired - need a line 
fig.add_scatter(x=male_df['Year'], y=male_df['count'],name="male")
# Show plot 
fig.show()

In [ ]:
#------------------------ heatmap_____--------------------

In [ ]:
x=df.drop_duplicates(['Year','Sport','Event'])

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(20,20))
sns.heatmap(x.pivot_table(index='Sport',columns='Year',values='Event',aggfunc='count').fillna(0).astype('int'), annot=True)

# most successful athletes of all time

In [ ]:
df.sample(1)

In [ ]:
def most_successful(df, sport):
    temp_df=df.dropna(subset=['Medal'])
    if sport!='Overall':
        temp_df=temp_df[temp_df['Sport']==sport]
    x=temp_df['Name'].value_counts().reset_index().head(15).merge(df,left_on='index',right_on='Name', how='left')[['index','Name_x','Sport','region']].drop_duplicates('index')
    x.rename(columns={'index':'Name','Name_x':'Medals'},inplace=True)
    return x

In [ ]:
most_successful(df,'Hockey')

In [ ]:
tempo=df.dropna(subset=["Medal"])
tempo.sample(2)

In [ ]:
x=tempo['Name'].value_counts().reset_index().rename(columns={'index':'Name','Name':'Medals'})
x.head(2)

In [ ]:
x=x.merge(df,left_on='Name', right_on='Name',how='left')[['Name','Medals','Sport','region']]

In [ ]:
x.drop_duplicates(['Name'],inplace=True)
x.head()

# most successful athletes  of all tme final

In [ ]:
region_df= pd.read_csv('/kaggle/input/120-years-of-olympic-history-athletes-and-results/noc_regions.csv')
df = pd.read_csv('/kaggle/input/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')
df=df.merge(region_df, how='left',on='NOC')
df=df[df['Season']=='Summer']
df.drop_duplicates(inplace=True)
temp_df=pd.get_dummies(df['Medal'])
df=pd.concat([df,temp_df],axis=1)
df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Medal','Event'])

In [ ]:
tempo=df.dropna(subset=["Medal"])
x=tempo['Name'].value_counts().reset_index().rename(columns={'index':'Name','Name':'Medals'})
x=x.merge(df,left_on='Name', right_on='Name',how='left')[['Name','Medals','Sport','region']]
x.drop_duplicates(['Name'],inplace=True)
x.head()

# country wise medal tally per year -line plot

In [ ]:
df

In [ ]:
#.value_counts().reset_index()[['Year','Medal']]
#x=x.sort_values('Year',ascending=False).groupby('Year').count()

In [ ]:
temp_df= df[df['region']=='USA']
temp_df= temp_df.dropna(subset=['Medal'])
temp_df= temp_df.drop_duplicates(['Year','Event','Medal'])
temp_df= temp_df[['Year','Medal']]
groups= temp_df.groupby(['Year'])
final_df= groups.count().reset_index().sort_values('Year')
final_df

In [ ]:
temp_df=df.dropna(subset=['Medal'])
temp_df.drop_duplicates(['Year','Event','Medal','region'],inplace=True)
new_df=temp_df[temp_df['region']=='USA']
final_df=new_df.groupby(['Year']).count()['Medal'].reset_index()
final_df.tail()

# plotting heatmap

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
new_df = temp_df[temp_df['region']=='China']
plt.figure(figsize=(20,20))
sns.heatmap(new_df.pivot_table(index='Sport',columns='Year',values='Medal',aggfunc='count').fillna(0),annot=True)

In [ ]:
df.shape

# most successful athletes(top 10) of a given country

In [ ]:
temp_df= df[df['region']=='USA']
temp_df= temp_df.dropna(subset=['Medal'])
groups=temp_df.groupby('Name')
groups.count()

In [ ]:
groups.count()['Medal'].reset_index().sort_values('Medal',ascending=False).head(10)

In [ ]:

temp_df= df[df['region']=='USA']
temp_df= temp_df.dropna(subset=['Medal'])
groups=temp_df.groupby('Name')
groups.count()
groups.count()['Medal'].reset_index().sort_values('Medal',ascending=False).head(10)

In [ ]:
def top_athletes_of_country(country):
    
    temp_df= df[df['region']=='USA']
    temp_df= temp_df.dropna(subset=['Medal'])
    temp_df=temp_df.groupby('Name').count()['Medal'].reset_index().sort_values('Medal',ascending=False).head(10)
    return temp_df

In [ ]:
top_athletes_of_country('USA')